<footer class="footer">
  <div class="container footer-container">
    <p class="footer-text-one">Time’s Running Out on Today’s Topic!</p>
   <p class="footer-text-two">No signup? No problem. Quick registration takes seconds.<br/>
  Don’t miss your chance to post, vote, and rank before the day ends.</p>
  <a class="footer-link" href="#Topics">
    <p class="footer-link-text">Join Today’s Blitz</p>
    <div class="footer-box">
      <svg class="footer-icon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.808359 15.0159L14.5161 1.30811M14.5161 1.30811L4.5676 1.64041M14.5161 1.30811L14.1838 11.2566"
          stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </div>
  </a>
  <p class="footer-text-three">Bonus: Your first take gets a free “Welcome Contributor” badge.</p>
  <p class="footer-text-follow">Follow us:</p>
  <div class="footer-link-container">
   <a class="footer-network" href="https://x.com/">Twitter/X</a> 
  <a class="footer-network" href="https://discord.com/">Discord</a>
  <a class="footer-network" href="https://www.youtube.com/">YouTube</a>
  <a class="footer-network" href="https://newsletter.page
  ">Newsletter</a>
  </div>
  <ul class="footer-navigation">
    <li class="footer-nav-link">
      <a class="footer-underline" href="#Topics">About</a>
    </li>
    <li class="footer-nav-link">
      <a class="footer-underline" target="_blank" href="policy/privacy.pdf">Privacy Policy</a>
    </li>
     <li class="footer-nav-link">
      <a class="footer-underline" target="_blank" href="policy/cookies.pdf">Cookies Policy</a>
    </li>
    <li class="footer-nav-link">
      <a class="footer-underline" target="_blank" href="policy/terms.pdf">Terms and Conditions</a>
    </li>  
    <li class="footer-nav-link">
      <a class="footer-underline" href="mailto:info@blitzdate.space">Contact Us</a>
    </li>
  </ul>
  <p class="footer-text-four">BlitzDate is a project by game lovers, for game lovers.
  Made to inspire better conversations—one day at a time.
    </p>
    <p class="footer-text">BlitzDate © 2025 | Powered by [blitzdate.space]</p>
  </div>
</footer>
