<!-- home -->
<section class="home-section">
    <div class="container">
        <h1 class="visually-hidden">The Daily Challenge for Game Thinkers & Keyboard Warriors</h1>
        <picture>
            <source srcset="
            /img/home/logo-desk.png 1x,
            /img/home/logo-desk@2x.png 2x
            " media="(min-width: 1439px)" />
            <source srcset="
            /img/home/logo-mob.png 1x,
            /img/home/logo-mob@2x.png 2x
            " media="(max-width: 1438px)" />
            <img class="home-img" src="/img/home/logo-mob.png" alt="The Daily Challenge for Game Thinkers & Keyboard Warriors" loading="lazy" />
        </picture>
        <p class="home-text">Every day, BlitzDate drops a fresh, bold topic about gaming—mechanics, characters, hot takes, or timeless debates.<br/>
        You have 24 hours to speak your mind, react to others, and earn your place at the top of the feed.
            </p>
            <a class="home-link" href="#Topics">
                <p class="home-link-text">Enter Today’s Blitz</p>
                <div class="home-box">
                    <svg class="home-icon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.808359 15.0159L14.5161 1.30811M14.5161 1.30811L4.5676 1.64041M14.5161 1.30811L14.1838 11.2566"
                         stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </div>
            </a>
    </div>
</section>
<!-- How BlitzDate Works -->
<section class="how-section">
    <div class="container">
        <h2 class="how-title">How  <span class="span">BlitzDate </span>Works</h2>
        <div class="swiper how-swiper">
            <div class="swiper-wrapper how-swiper-wrapper">
                <div class="swiper-slide how-swiper-slide">
                    <div class="how-wrapper">
                        <div class="number-wrapper"><p>1</p></div>
                        <div class="slide-text-wrapper">
                            <p class="how-slide-title">New Topic Daily</p>
                            <p class="how-slide-text">At midnight UTC, a new game-related topic is posted to the homepage.
                            </p>
                        </div>
                    </div>
                    <div class="how-wrapper how-wrapper-second">
                        <div class="number-wrapper"><p>2</p></div>
                        <div class="slide-text-wrapper">
                            <p class="how-slide-title">Add Your Take</p>
                            <p class="how-slide-text">Type a quick response, whether it’s a deep dive, joke, or bold opinion.</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide how-swiper-slide">
                    <div class="how-wrapper">
                        <div class="number-wrapper"><p>3</p></div>
                        <div class="slide-text-wrapper">
                            <p class="how-slide-title">React & Vote</p>
                            <p class="how-slide-text">Read others' takes. Upvote what resonates. The best rise to the top.</p>
                        </div>
                    </div>
                    <div class="how-wrapper how-wrapper-second">
                        <div class="number-wrapper"><p>4</p></div>
                        <div class="slide-text-wrapper">
                            <p class="how-slide-title">Earn Rewards</p>
                            <p class="how-slide-text">Get badges, keep your streak alive, and climb the contributor leaderboard.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="how-custom-pagination">
            <div class="how-pagination-item active"></div>
            <div class="how-pagination-item"></div>
        </div>
        <p class="how-text">*A game-like social experience for players who love to talk games.</p>
    </div>
</section>
<!-- What Kinds of Topics? -->
<section class="topics-section" id="Topics">
    <div class="container">
        <h2 class="topics-title">What <span class="span">Kinds</span>  of Topics?</h2>
        <div class="topics-wrapper">
        <div class="topics-text-wrapper-one">
            <p class="topics-text-one">Example Blitz Topics We've Posted:</p>
            <ul class="topics-list">
                <li class="topics-item">Which 90s game deserves a proper remake?</li>
                <li class="topics-item">Best boss fight in the Souls series?</li>
                <li class="topics-item">What’s one mechanic more games should steal?</li>
                <li class="topics-item">Was Aerith’s death good writing or cheap drama?
                </li>
                <li class="topics-item">Are horror games better with or without combat?
                </li>
            </ul>
        </div>
        <div class="topics-text-wrapper-two">
            <p class="topics-text-two">We feature:</p>
            <ul class="topics-list">
                <li class="topics-item">Player-submitted ideas</li>
                <li class="topics-item">Trending gaming news & events</li>
                <li class="topics-item">Developer spotlights</li>
                <li class="topics-item">Nostalgia and controversy alike
                </li>
            </ul>
        </div>
    </div>
    </div>
</section>
<!-- Profile & Reputation System -->
<section class="profile-section">
    <div class="container">
        <h2 class="profile-title">Profile & Reputation<span class="span"> System</span></h2>
        <p class="profile-text">Your Gaming Brain =<span class="span"> Your Identity</span></p>
        <div class="swiper profile-swiper">
            <div class="swiper-wrapper profile-swiper-wrapper">
                <div class="swiper-slide profile-swiper-slide">
                    <div class="profile-wrapper">
                        <div class="profile-wrapper-img">
                            <img class="profile-img" src="/img/profile/one.png" alt="Insightful Thinker">
                            <p class="profile-img-title">Insightful Thinker</p>
                        </div>
                        <p class="profile-slide-text">Get badge for thoughtful analysis</p>
                    </div>
                    <div class="profile-wrapper profile-wrapper-two">
                        <div class="profile-wrapper-img">
                            <img class="profile-img" src="/img/profile/two.png" alt="Hot Take Machine">
                            <p class="profile-img-title">Hot Take Machine</p>
                        </div>
                        <p class="profile-slide-text">Post spicy takes that spark debate</p>
                    </div>
                </div>
                <div class="swiper-slide profile-swiper-slide">
                    <div class="profile-wrapper">
                        <div class="profile-wrapper-img">
                            <img class="profile-img" src="/img/profile/three.png" alt="Top Weekly Commenter">
                            <p class="profile-img-title">Top Weekly Commenter</p>
                        </div>
                        <p class="profile-slide-text">Ranked weekly across the board</p>
                    </div>
                    <div class="profile-wrapper profile-wrapper-two">
                        <div class="profile-wrapper-img">
                            <img class="profile-img" src="/img/profile/four.png" alt="Mechanic Mastermind">
                            <p class="profile-img-title">Mechanic Mastermind</p>
                        </div>
                        <p class="profile-slide-text">Get upvotes on gameplay- focused threads</p>
                    </div>
                </div>
                <div class="swiper-slide profile-swiper-slide">
                    <div class="profile-wrapper">
                        <div class="profile-wrapper-img">
                            <img class="profile-img" src="/img/profile/five.png" alt="Daily Streaker">
                            <p class="profile-img-title">Daily Streaker</p>
                        </div>
                        <p class="profile-slide-text">Contribute daily without missing a beat</p>
                    </div>
                </div>
            </div>
            </div>
     
        <div class="profile-custom-pagination">
            <div class="profile-pagination-item active"></div>
            <div class="profile-pagination-item"></div>
            <div class="profile-pagination-item"></div>
        </div>

        <p class="profile-last-text">*All visible on your public profile so your reputation follows you across every thread.</p>
    </div>
</section>
<!-- Live Blitz Feed Preview -->
<article class="live-section">
    <div class="container">
        <h2 class="live-title">Live <span class="span">Blitz</span>  Feed Preview</h2>
        <div class="live-text-wrapper">
        <img class="left-quotes" src="/img/live/quotes-left.png" alt="quotes">
        <p class="live-text"><span class="live-span">Preview of Today’s Topic:</span> <br class="live-mob"/>
        What’s one game that totally wasted its open world?</p>
        <img class="right-quotes" src="/img/live/quotes-right.png" alt="quotes"></div>
        <div class="live-wrapper">
            <picture>
                <source srcset="
                /img/live/one-desk.png 1x,
                /img/live/one-desk@2x.png 2x
                " media="(min-width: 1439px)" />
                <source srcset="
                /img/live/one-mob.png 1x,
                /img/live/one-mob@2x.png 2x
               " media="(max-width: 1438px)" />
                <img class="live-img live-img-one" src="/img/live/one-mob.png" alt="The Daily Challenge for Game Thinkers & Keyboard Warriors"
                    loading="lazy" />
                </picture>  
                <picture>
                    <source srcset="
                                    /img/live/two-desk.png 1x,
                                    /img/live/two-desk@2x.png 2x
                                    " media="(min-width: 1439px)" />
                    <source srcset="
                                    /img/live/two-mob.png 1x,
                                    /img/live/two-mob@2x.png 2x
                                   " media="(max-width: 1438px)" />
                    <img class="live-img live-img-two" src="/img/live/two-mob.png" alt="The Daily Challenge for Game Thinkers & Keyboard Warriors"
                        loading="lazy" />
                    </picture>  
                    <picture>
                        <source srcset="
                                            /img/live/three-desk.png 1x,
                                            /img/live/three-desk@2x.png 2x
                                            " media="(min-width: 1439px)" />
                        <source srcset="
                                            /img/live/three-mob.png 1x,
                                            /img/live/three-mob@2x.png 2x
                                           " media="(max-width: 1438px)" />
                        <img class="live-img live-img-three" src="/img/live/three-mob.png" alt="The Daily Challenge for Game Thinkers & Keyboard Warriors"
                            loading="lazy" />
                        </picture>  
        </div>
        <a class="live-link" href="#Topics">
            <p class="live-link-text">Jump Into the Thread</p>
            <div class="live-box">
                <svg class="live-icon" width="16" height="16" viewBox="0 0 16 16" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.808359 15.0159L14.5161 1.30811M14.5161 1.30811L4.5676 1.64041M14.5161 1.30811L14.1838 11.2566"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </div>
        </a>
    </div>
</article>
<!-- Suggest a Blitz Topic -->
<section class="suggest-section">
    <div class="container">
        <h2 class="suggest-title">Suggest a <span class="span"> Blitz</span> Topic</h2>
        <p class="suggest-text-one">Your ideas drive the discussion.</p>
        <p class="suggest-text-two">Got a controversial take or timeless debate?<br/>
        Send us a topic and we might feature it—with credit to your username.
            </p>
        <p class="suggest-text-three">Submit themes around:</p>
        <ul class="suggest-list">
            <li class="suggest-item">Game design
            </li>
            <li class="suggest-item">Story tropes
            </li>
            <li class="suggest-item">Character arcs
            </li>
            <li class="suggest-item">Platform wars
            </li>
            <li class="suggest-item">Indie gems
            </li>
        </ul>
        <a class="suggest-link" href="#Topics">
            <p class="suggest-link-text">Submit Your Topic</p>
            <div class="suggest-box">
                <svg class="suggest-icon" width="16" height="16" viewBox="0 0 16 16" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.808359 15.0159L14.5161 1.30811M14.5161 1.30811L4.5676 1.64041M14.5161 1.30811L14.1838 11.2566"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </div>
        </a>
        <p class="suggest-text-last">*Bonus badge if yours is chosen!</p>
    </div>
</section>
<!-- Why Join BlitzDate? -->
<section class="join-section">
    <div class="container">
        <h2 class="join-title">Why Join <span class="span">BlitzDate?</span></h2>
        <p class="join-text">What makes BlitzDate different?</p>
        <div class="swiper join-swiper">
            <div class="swiper-wrapper join-swiper-wrapper">
                <div class="swiper-slide join-swiper-slide">
                    <div class="join-wrapper">
                        <div class="join-wrapper-img">
                            <img class="join-img" src="/img/check.png" alt="Check">
                            <p class="join-img-title">Fast & Focused</p>
                        </div>
                        <p class="join-slide-text">One thread per day means no noise, just value</p>
                    </div>
                    <div class="join-wrapper join-wrapper-two">
                        <div class="join-wrapper-img">
                            <img class="join-img" src="/img/check.png" alt="Check">
                            <p class="join-img-title">High Engagement</p>
                        </div>
                        <p class="join-slide-text">Daily participation = better visibility and recognition</p>
                    </div>
                </div>
                <div class="swiper-slide join-swiper-slide">
                    <div class="join-wrapper">
                        <div class="join-wrapper-img">
                            <img class="join-img" src="/img/check.png" alt="Check">
                            <p class="join-img-title">Zero Clutter</p>
                        </div>
                        <p class="join-slide-text">No ads, no spam, no doomscrolling</p>
                    </div>
                    <div class="join-wrapper join-wrapper-two">
                        <div class="join-wrapper-img">
                            <img class="join-img" src="/img/check.png" alt="Check">
                            <p class="join-img-title">Mobile Friendly</p>
                        </div>
                        <p class="join-slide-text">Drop takes and vote on the go</p>
                    </div>
                </div>
                <div class="swiper-slide join-swiper-slide">
                    <div class="join-wrapper">
                        <div class="join-wrapper-img">
                            <img class="join-img" src="/img/check.png" alt="Check">
                            <p class="join-img-title">Built for Players</p>
                        </div>
                        <p class="join-slide-text">Whether you're a casual fan or a design nerd, your voice matters</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="join-custom-pagination">
            <div class="join-pagination-item active"></div>
            <div class="join-pagination-item"></div>
            <div class="join-pagination-item"></div>
        </div>
<p class="join-last-text">Join a growing community of thinkers, critics, and passionate fans.</p>
    </div>
</section>