body{
  background-color: #000;
  font-family: "Public Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33333;
    color: #fff;
}
h2{
  font-family: "Public Sans", sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #fff;
    text-align: center;
}
.span{
  color: #bf10f1;
}
@media only screen and (min-width: 1439px) {
  body{
    font-size: 24px;
  }
  h2{
    font-size: 48px;
  }
}